<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
       internalLogLevel="Info"
       internalLogFile="temp\internal-nlog.txt"
       internalLogToConsole="true"
       throwException="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="File" fileName="${basedir}/logs/${shortdate}.log"
            layout="TimeStamp=${longdate} Level=${uppercase:${level}} CorrelationId=${aspnet-item:variable=CorrelationId}${newline}LoggerMessage=${message} StacktTrace=${stacktrace} Exception=${exception:format=toString}"
  KeepFileOpen="true"
  encoding="utf-8"/>
  </targets>

  <targets>
    <target xsi:type="ColoredConsole" name="consoleTarget"  layout="TimeStamp=${longdate} Level=${uppercase:${level}} CorrelationId=${aspnet-item:variable=CorrelationId} LoggerMessage=${message} ${mdlc:item=ActionKey}"/>
  </targets>

  <targets>
    <target name="NLogDB" xsi:type="Database"
            connectionString="${configsetting:item=Logging.NlogConnectionString}"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            commandType ="StoredProcedure"
            commandText="[dbo].[NLog_AddEntry_p]"
  >
    
     <!--<target name="NLogDB" xsi:type="Database">
       <connectionString>server=localhost;Database=NLogDB;Integrated Security=SSPI;TrustServerCertificate=True</connectionString>
       <commandText>
         exec [dbo].[NLog_AddEntry_p] @machineName, @logged, @level, @message, @logger, @properties, @callsite, @exception
       </commandText>-->
      <parameter name="@machineName" layout="${machinename}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@properties" layout="${all-event-properties:separator=|}" />
      <parameter name="@callsite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <targets>
    <target name='jsonFile' type='File' fileName='${basedir}/logs/${shortdate}.json'>
      <layout type='JsonLayout'>
        <attribute name='time' layout='${longdate}' />
        <attribute name='level' layout='${level:upperCase=true}'/>
        <attribute name='Properties' encode='false'  >
          <layout type='JsonLayout'>
            <attribute name='message' layout='${message}' />
            <attribute name='exception' layout='${exception}' />
          </layout>
        </attribute>
      </layout>
    </target>
  </targets>

  <rules>
    <!-- Skip non-critical Microsoft logs and so log only own log -->
    <logger name="Microsoft.*" maxlevel="Info" final="true"/>
    <logger name="*" minlevel="Info" writeTo="jsonFile" />
    <logger name="*" minlevel="Debug" writeTo="File" />
    <logger name="NlogPractice.Controllers.WeatherForecastController" minlevel="Debug" writeTo="consoleTarget" />
    <logger name="*" minlevel ="Trace" writeTo ="NLogDB"/>
  </rules>

</nlog>

<!--Level	Typical Use
Fatal	Something bad happened; application is going down
Error	Something failed; application may or may not continue
Warn	Something unexpected; application will continue
Info	Normal behavior like mail sent, user updated profile etc.
Debug	For debugging; executed query, user authenticated, session expired
Trace	For trace debugging; begin method X, end method X -->